/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    text-align: center;
    border: black 5px solid;
    padding: 5em;
    
}

h2{
    background-color: black;
    color: white;
    width: 300px;
    border: 2px solid blue;
    cursor: pointer;
}


Updates: */
/* Box Model Hack */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --black: #000;
    --darkGrey: #333;
    --darkBlue: #031d44;
    --medBlue: #04395e;
    --lightGreen: #70a288;
    --beige: #dab785;
    --lightBrown: #d5896f;
    --white: #fff;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,700&display=swap');
  
  /* Base Page CSS */
  html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
  }
  body,
  .page {
    display: flex;
    flex-direction: column;
    background: var(--darkBlue);
    color: var(--white);
    height: 100%;
    width: 100%;
    align-items: center;
  }
  
  h1 {
    font-size: 8rem;
    margin: 0;
    text-align: center;
  }
  
  h4 {
    font-size: 2rem;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background: var(--lightGreen);
    color: var(--black);
    border: 0.1rem solid var(--black);
    cursor: pointer;
  }
  
  button:hover {
    background: var(--black);
    color: var(--lightGreen);
    border: 0.1rem solid var(--lightGreen);
  }
  
  .text {
    font-size: 3rem;
    font-style: italic;
    color: var(--lightGreen);
    text-align: center;
  }
  
  .center {
    display: block;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  
  /* Header */
  .header {
    position: fixed;
    display: flex;
    background-color: var(--beige);
    height: 10rem;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 0.2rem solid var(--black);
    justify-content: space-between;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    margin: 0 0 0 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    display: flex;
    color: var(--darkBlue);
    font-size: 4rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
  }
  
  .links {
    margin: 0 4rem 0 0;
  }
  
  .navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .navLinks {
    font-size: 2rem;
    font-weight: 400;
    list-style-type: none;
    padding-left: 3rem;
  }
  
  .navLinks a {
    color: var(--darkBlue);
  }
  
  .navLinks:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('https://github.com/CitrineDragon/Images/blob/master/bankMain.jpg?raw=true');
    background-position-y: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    width: 100%;
    margin: 10rem;
    justify-content: center;
    align-items: center;
  }
  
  /* Chat Element */
  
  .container {
    background: var(--lightGreen);
    color: black;
    height: 50rem;
    width: 30rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0.3rem 0.3rem 0.7rem 0.1rem var(--black);
    box-shadow: 0.3rem 0.3rem 0.7rem 0.1rem var(--black);
  }
  
  .chatHeader {
    background: var(--black);
    color: var(--lightGreen);
    height: 3rem;
    line-height: 3rem;
    border-radius: 1rem 1rem 0 0;
    padding: 0 0 0 1rem;
  }
  
  .chat {
    background: var(--beige);
    font-size: 2rem;
    height: calc(45rem - 0.2rem);
    width: calc(28rem - 0.2rem);
    border: 0.1rem solid #333;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
  }
  
  .questionArea {
    background-color: var(--darkBlue);
    color: var(--white);
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0 01rem 0;
    text-align: center;
  }
  
  .answerArea > button {
    background-color: var(--white);
    color: var(--darkBlue);
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 0 01rem 0;
  }
  
  /* Page Reload */
  .reset {
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
    margin: 4rem;
    -webkit-box-shadow: 0.3rem 0.3rem 0.7rem 0.1rem var(--black);
    box-shadow: 0.3rem 0.3rem 0.7rem 0.1rem var(--black);
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 5rem;
    }
  
    .text {
      font-size: 2.5rem;
    }
  
    .logoContainer {
      margin: 0 0 0 2rem;
    }
  
    .logo {
      font-size: 3rem;
    }
  
    .links {
      margin: 0 2rem 0 0;
    }
  
    .navLinks {
      font-size: 1.6rem;
      padding-left: 1rem;
    }
  
    .container {
      height: 50rem;
      width: 30rem;
    }
  
    .chat {
      font-size: 2rem;
      height: calc(45rem - 0.2rem);
      width: calc(28rem - 0.2rem);
    }
  }
  
  @media screen and (max-width: 300px) {
    h1 {
      font-size: 4rem;
    }
  
    .text {
      font-size: 2.5rem;
    }
  
    .logoContainer {
      margin: 0 0 0 2rem;
    }
  
    .logo {
      font-size: 3rem;
    }
  
    .links {
      margin: 0 2rem 0 0;
    }
  
    .navLinks {
      font-size: 1.6rem;
      padding-left: 1rem;
    }
  
    .container {
      height: 50rem;
      width: 26rem;
    }
  
    .chat {
      font-size: 2rem;
      height: calc(45rem - 0.2rem);
      width: calc(24rem - 0.2rem);
    }
  }